<!DOCTYPE HTML>
<html lang="en">
<head>
    {% for i in article_one %}
	<title>{{i[2]}}</title>
    {% endfor %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

	<!-- Stylesheets -->

	<link href="/lib/common-css/bootstrap.css" rel="stylesheet">

	<link href="/lib/common-css/ionicons.css" rel="stylesheet">

	<link href="/lib/single-post-1/movie/css/styles.css" rel="stylesheet">

	<link href="/lib/single-post-1/movie/css/responsive.css" rel="stylesheet">

</head>
<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">Home</a></li>
			</ul><!-- main-menu -->

			<div class="src-area">
				<form>
					<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
					<input class="src-input" type="text" placeholder="Type of search">
				</form>
			</div>

		</div><!-- conatiner -->
	</header>

	<div class="slider">
		<div class="display-table  center-text">
			<h1 class="title display-table-cell"><b>MOVIE</b></h1>
		</div>
	</div><!-- slider -->

	<section class="post-area section">
		<div class="container">

			<div class="row">

				<div class="col-lg-10 col-md-12 no-right-padding">

					<div class="main-post">

						<div class="blog-post-inner">

							<div class="post-info">

								<div class="left-area">
									<img src="/lib/images/admin.jpg" alt="Profile Image">
								</div>

                                {% for i in article_one %}
								<div class="middle-area">
									<b>By : {{i[0]}}</b>
									<h6 class="date">Posted on : {{i[1]}}</h6>
								</div>

							</div><!-- post-info -->

							<h3 class="title"><b>{{i[2]}}</b></h3>

							<p class="para">{{i[3]}}</p>
                            {% endfor %}

							<div class="post-image"><img src="/lib/images/movie_art_1.jpg" alt="Blog Image"></div>

							<br>Articol preluat de pe : <a href="https://cineamator.ro/film-ready-player-one-2018-review/">Ready Player One (2018)</a>

							<ul class="tags">
								<li>Ready Player One</li>
								<li>Review</li>
								<li>2018</li>
                                <li>Movie</li>
							</ul>
						</div><!-- blog-post-inner -->

						<div class="post-icons-area">
							<ul class="post-icons">
								<li><a href="#"><i class="ion-heart"></i>57</a></li>
								<li><a href="#"><i class="ion-chatbubble"></i>{{numbers_comment_one}}</a></li>
								<li><a href="#"><i class="ion-eye"></i>138</a></li>
							</ul>

							<ul class="icons">
								<li>SHARE : </li>
								<li><a href="/"><i class="ion-social-facebook"></i></a></li>
								<li><a href="/"><i class="ion-social-twitter"></i></a></li>
								<li><a href="/"><i class="ion-social-pinterest"></i></a></li>
							</ul>
						</div>
					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->

				<!--<div class="col-lg-4 col-md-12 no-left-padding">-->

					<!--<div class="single-post info-area">-->

						<!--<div class="sidebar-area about-area">-->
							<!--<h4 class="title"><b>ABOUT BLOG</b></h4>-->
							<!--<p>Blogul contine diferite articole din urmatoarele domenii : Tehnologie, Sport si Film</p>-->
						<!--</div>-->

					<!--</div>&lt;!&ndash; info-area &ndash;&gt;-->

				<!--</div>&lt;!&ndash; col-lg-4 col-md-12 &ndash;&gt;-->

			</div><!-- row -->

		</div><!-- container -->
	</section><!-- post-area -->

	<section class="comment-section">
		<div class="container"><br>
			<h4><b>POST COMMENT</b></h4>
			<div class="row">

				<div class="col-lg-10 col-md-12">
					<div class="comment-form">
						<form>
							<div class="row">

								<div class="col-sm-6">
									<input type="text" aria-required="true" id="comment_name" name="contact-form-name" class="form-control"
										placeholder="Enter your name" aria-invalid="true" required >
								</div><!-- col-sm-6 -->
								<div class="col-sm-6">
									<input type="email" aria-required="true" id="comment_email" name="contact-form-email" class="form-control"
										placeholder="Enter your email" aria-invalid="true" required>
								</div><!-- col-sm-6 -->

								<div class="col-sm-12">
									<textarea name="contact-form-message" rows="2" id="comment_text" class="text-area-messge form-control"
										placeholder="Enter your comment" aria-required="true" aria-invalid="false"></textarea >
								</div><!-- col-sm-12 -->
								<div class="col-sm-12">
									<button type="button" class="btn btn-info" id="button_post_comment">POST COMMENT</button>
								</div><!-- col-sm-12 -->
							</div><!-- row -->
						</form>
					</div><!-- comment-form -->

                    <h4><b>STATISTICS</b></h4>
                    <div class="commnets-area">
                        <div class="col-sm-14">
							<div class="controls">
                            	<button type="button" class="btn btn-primary" id="button_common_words">Common Words</button><br><br>
								<button type="button" class="btn btn-success" id="button_sentiment_analyze_general">Sentiment Analyse General</button>
								<button type="button" class="btn btn-success" id="button_sentiment_analyze_1" style="display: none;">Sentiment Analyse 1</button>
								<button type="button" class="btn btn-success" id="button_sentiment_analyze_2" style="display: none;">Sentiment Analyse 2</button>
								<button type="button" class="btn btn-success" id="button_sentiment_analyze_3" style="display: none;">Sentiment Analyse 3</button><br><br>
        						<button type="button" class="btn btn-info" id="button_entity" data-t>Entity Analyse</button><br><br>
								<button type="button" class="btn btn-warning" id="button_emotion_analyze_general">Emotion Analyse General</button>
								<button type="button" class="btn btn-warning" id="button_emotion_analyze_1" style="display: none;">Emotion Analyse 1</button>
                                <button type="button" class="btn btn-warning" id="button_emotion_analyze_2" style="display: none;">Emotion Analyse 2</button><br><br>
                                <button type="button" class="btn btn-danger" id="button_generate_comments">Generate Comment</button><br><br>
								<h4><b>Legends for entity analyse:</b></h4>
        							<span class="entity people" data-t>People</span>
        							<span class="entity organization" data-t>Organizations</span>
        							<span class="entity location" data-t>Locations</span>
        							<span class="entity time" data-t>Dates/Times</span>
        							<span class="entity" data-t>Others</span>
    						</div>
						</div><!-- col-sm-14 -->

                        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <br>
                        <div id="graph_most_common_words"></div>
                    </div><!-- commnets-area -->

					<h4><b>COMMENTS({{numbers_comment_one}})</b></h4>

                    {% for i in comment_author_one %}
					<div class="commnets-area">

						<div class="comment">

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="/"><img src="/lib/images/user.jpg" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" href="#"><b>{{i[0]}}</b></a>

									<h6 class="date">{{i[1]}}</h6>
								</div>
                            </div><!-- post-info -->
							<p id = {{i[3]}}>{{i[2]}}</p><br>
                            <p><b id = "sentiment_result_1_{{loop.index0}}"></b></p>
                            <p><b id = "sentiment_result_2_{{loop.index0}}"></b></p>
                            <p><b id = "sentiment_result_3_{{loop.index0}}"></b></p>
                            </div>
					</div><!-- commnets-area -->
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <br>
                    <div id="sentiment_score_1_{{loop.index0}}"></div><br>
                    <div id="sentiment_score_2_{{loop.index0}}"></div><br>
                    <div id="sentiment_score_3_{{loop.index0}}"></div><br>
                    <div id="emotion_score_1_{{loop.index0}}"></div><br>
                    <div id="emotion_score_2_{{loop.index0}}"></div>
                    {% endfor %}

				</div><!-- col-lg-10 col-md-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>

	<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<p class="copyright">Blog @ Bucharest 2018. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<ul class="icons">
							<li><a href="/"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="/"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="/"><i class="ion-social-instagram-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li>TECH</li>
							<li>SPORT</li>
							<li>MOVIE</li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>

	<!-- SCRIPTS -->

	<script src="/lib/common-js/jquery-3.1.1.min.js"></script>

	<script src="/lib/common-js/tether.min.js"></script>

	<script src="/lib/common-js/bootstrap.js"></script>

	<script src="/lib/common-js/scripts.js"></script>

	<script src="/lib/common-js/article_1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

</body>
</html>
